
tungstn/coverage/lcov.info
tungstn/assets/js/package/olm.js
tungstn/assets/js/package/olm.wasm
tungstn/assets/js/package/olm_legacy.js
tungstn/.vodozemac/
tungstn/assets/vodozemac/vodozemac_bindings_dart_bg.wasm
tungstn/assets/vodozemac/vodozemac_bindings_dart.js
/.dart_tool
build/.last_build_id
widgets/matrix_widget_api/build/.last_build_id
widgets/calendar/android/local.properties
.vscode/settings.json
.idea/
/build
/deploy.sh
/nginx/
/.build-cache/pub-cache
/CLAUDE.md
/tungstn/assets/config/global_config.json
