[Desktop Entry]
Version={{VERSION_TAG}}
Type=Application
Name=Tungstn
Comment=Your space to connect!
Categories=Utility;Amusement;
Icon=chat.tungstn.app
Exec=tungstn
Terminal=false
StartupWMClass=chat.tungstn.app
Actions=ToggleMute;Mute;Unmute
X-KDE-StartupNotify=false
StartupNotify=false

[Desktop Action ToggleMute]
Name=Toggle Mute
Exec=tungstn --shortcut toggle_mute
X-KDE-Shortcuts=Alt+M

[Desktop Action Mute]
Name=Mute
Exec=tungstn --shortcut mute


[Desktop Action Unmute]
Name=Unmute
Exec=tungstn --shortcut unmute