[Desktop Entry]
Name=Tungstn
Exec=/usr/lib/chat.tungstn.app/tungstn %U
Terminal=false
Type=Application
Icon=tungstn
StartupWMClass=Tungstn
Comment=Your space to connect!
Categories=Network;InstantMessaging;Chat;
